#ipsum{
    visibility: hidden;
        margin-bottom: 0;
        padding: 0;
height: 0px;
}
@media only screen and (max-width: 320px) {

    #lorem {
        visibility: hidden;
        margin-bottom: 0;
        padding: 0;
        height: 0px;
    }
    #ipsum{
        visibility: visible;
            margin-bottom: 0;
            padding: 0;
            height: 100px;
    }
}
