#ipsum{
    visibility: hidden;
        margin-bottom: 0;
        padding: 0;

}
@media only screen and (max-width: 320px) {

    #lorem {
        visibility: hidden;
        margin-bottom: 0;
        padding: 0;
    }
    #ipsum{
        visibility: visible;
            margin-bottom: 0;
            padding: 0;
            
    }
}
